<!--The whole content below can be removed with the new code.-->
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>
        Original
      </th>
      <th>
          Pipe
      </th>
      <th>
          Resultado
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>{{nombre}}</td>
      <td>uppercase</td>
      <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>

      <td>{{nombre}}</td>
      <td>lowercase</td>
      <td>{{nombre | lowercase}}</td>
    </tr>
    <tr>

      <td>{{nombre}}</td>
      <td>slice:3 </td>
      <td>{{nombre | slice:3}}</td>
    </tr>

    <tr>

      <td>{{nombre}}</td>
      <td>slice </td>
      <td>{{nombre | slice:0:5}}</td>
    </tr>
    <tr>

      <td>{{areglo}}</td>
      <td>slice </td>
      <td>{{areglo   | slice:0:5}}</td>
    </tr>
    <tr>

      <td>{{PI}}</td>
      <td>number:'3.2-2' </td>
      <td>{{PI   | number:'3.2-2'}}</td>
    </tr>
    <tr>

      <td>{{PI}}</td>
      <td>number:'1.4-4' </td>
      <td>{{PI   | number:'1.4-4'}}</td>
    </tr>
    <tr>

      <td>{{porcentaje}}</td>
      <td>percent:'2.4-4' </td>
      <td>{{porcentaje   | percent:'2.4-4'}}</td>
    </tr>
    <tr>

      <td>{{porcentaje}}</td>
      <td>percent:'2.2-2' </td>
      <td>{{porcentaje   | percent:'2.2-2'}}</td>
    </tr>
    <tr>

      <td>{{salario}}</td>
      <td>currency </td>
      <td>{{salario   | currency}}</td>
    </tr>
    <tr>

      <td>{{salario}}</td>
      <td>currency:'EUR':true </td>
      <td>{{salario   | currency:'EUR':true}}</td>
    </tr>
    <tr>

      <td>{{salario}}</td>
      <td>currency:'EUR':true </td>
      <td>{{salario   | currency:'EUR':true:'.0-0'}}</td>
    </tr>
    <tr>

      <td>{{valorDePromesa}}</td>
      <td>async </td>
      <td>{{valorDePromesa | async}}</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
        <td>date</td>
      <td>{{fecha | date}}</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
        <td>date</td>
      <td>{{fecha | date:'medium'}}</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
        <td>date</td>
      <td>{{fecha | date}}</td>
    </tr>
    <tr>

      <td>
        {{nombre2}}
      </td>
      <td>
        Capitalizado
      </td>
      <td>
        {{nombre2 | capitalizado:false}}
      </td>
    </tr>
    <tr>
      <td>
        {{nombre}}
      </td>
      <td>
          Contraseña {{activar}}
          <br>
          <button type="button" class="btn btn-primary" (click)="activar=!activar">Activar/Desactivar</button>
      </td>
        <td>
            {{nombre |contrasena:activar}}
        </td>
    </tr>
  </tbody>
</table>

<h4>Slice</h4>
<ul>
  <li *ngFor="let item of areglo | slice:0:5 ">{{item}}</li>

</ul>
<h4>
    JSON
</h4>
<pre>
  {{heroe | json}}
</pre>

<h4>Youtube</h4> <small>Video:</small>

<iframe width="854" height="480" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
